h1 {
  color: purple;
  font-size: 120%;
}

h2 {
  color: black;
}

img {
  height: 400px;
  border:0
}


body {
  background-color: #C8EEF7;
}

}
h3 {
  color: purple;
  font-size: 120%;
}

h4 {
  color: black;
  font-size: 100%;
}

h5 {
  color: black;
  font-size: 80%;
}

h6 {
  color: purple;
  font-size: 80%;
}

strong {
  color: black;
  font-family: Arial;
}
